.category {
  font-weight: 600;
}

.text-danger {
  color: #dc3545;
}

.text-warning {
  color: #ffc107;
}

.custom-links {
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.text-primary {
  color: #007bff;
}

/*colors categories*/

.blog-post {
  color: #005cbf;
}
.report {
  color: #dc3545;
}
.webinar {
  color: #ffc107;
}

.small {
  font-size: 80%;
}

a {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  text-decoration: inherit;
  color: inherit;
}

/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/


body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* You can add global styles to this file, and also import other style files */


a {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  text-decoration: inherit;
  color: inherit;
}

.custom-link {
  cursor: pointer;
}

.item-date .btn-custom-head {
  margin-left: 0px;
  height: 30px;
  width: 70px;
}

  .btn-custom-head {
  padding: 2px 10px !important;
  font-size: 12px;
  border-radius: 10px !important;
  margin-left: 0px;
}


.message {
  font-size: 14px;
  height: 21px;
  overflow: hidden;
  width: 260px;
  margin-top: 5px;
  white-space: nowrap;
  cursor: pointer;
}

.user {
  display: flex;
  cursor: pointer;
  align-items: flex-end;
}

.user-img {
  width: 20%;
  margin: auto;
}

.user-img .img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}

.user-info {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.user-info .name {
  font-weight: 500;
  font-size: 13px;
}



/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 5px;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(108, 108, 108, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(106, 106, 106, 0.4);
}






@media (max-width: 375px) {
  .wrapper {
    width: 100%;
  }

  .user {
    padding: 0px;
  }
}

.form-control {
  background-color: #fff0;
  height: 50px;
  padding-left: 40px;
  outline: none;
}

.input-group i {
  position: relative;
  top: 16px;
  left: 33px;
  font-size: 20px;
  color: #5e5d6c;
}

@media (max-width: 320px) {
  .user-text {
    width: 85%;
  }
  .user-info {
    justify-content: flex-start;
  }
  .user-info .name {
    max-width: 150px;
  }
}
